<div>
    <h1 class="animate__animated animate__backInDown">Flights</h1>
    <nav class="active animate__animated animate__backInLeft" id="nav">
      <ul>
        <li> <a 
  href="/flights" <%- title === 'All flights' ? 'class="active"' : '' %>>
  ALL FLIGHTS</a></li>
  <!--       toggle.addEventListener('click', () => nav.classList.toggle('active')) -->
  <!--  <div>Icons made by <a href="" title="Pause08">Pause08</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  <button class="icon" id="toggle" class="animate__animated animate__flash">
  <img src="/assets/airplane.png"/>
  </button>
  <li><a href="/flights/new" <%- title === 'Add flight' ? 'class="active"' : '' %>>
  ADD FLIGHT</a></li>
      </ul>
    </nav>
  </div>