<div>
  <nav id="nav">
    <ul>
      <li> <a 
href="/flights" <%- title === 'All flights' ? 'class="active"' : '' %>>
ALL FLIGHTS</a></li>
<li><a href="/flights/new" <%- title === 'Add flight' ? 'class="active"' : '' %>>
ADD FLIGHT</a></i>
          </li>
    </ul>
  </nav>
</div>