<nav class="navbar navbar-light sticky-top">
  <ul id="nav" class="nav d-flex justify-content-end">
    <li class="nav-item">
      <a class="nav-link <%- title === 'All flights' ? 'class="active"' : '' %>" href="/flights">ALL FLIGHTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- title === 'Add flight' ? 'class="active"' : '' %>" href="/flights/new">ADD A FLIGHT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- title === 'Add DESTINATION' ? 'class="active"' : '' %>" href="/destinations/new">ADD A DESTINATION</a>
    </li>
  </ul>
</nav>