
  <nav>
		<!-- <i class="fas fa-film fa-2x"></i>   -->
    <a 
      href="/flights/new" <%- title === 'Add flight' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- title === 'All flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>