<nav class="navbar navbar-light sticky-top">
  <ul id="nav" class="nav d-flex justify-content-end">
    <li class="nav-item">
      <a class="nav-link <%- title === 'All flights' ? 'class="active"' : '' %>" href="/flights">ALL FLIGHTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- title === 'Add flight' ? 'class="active"' : '' %>" href="flights/new">Add Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%- title === 'Add flight' ? 'class="active"' : '' %>" href="#">Destinations</a>
    </li>
  </ul>
</nav>