<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link <%- title === 'All flights' ? 'class="active"' : '' %>" href="/flights">ALL FLIGHTS</a>
  <a class="nav-link <%- title === 'Add flight' ? 'class="active"' : '' %>" href="/flights/new">ADD FLIGHT</a>
  <a class="nav-link <%- title === 'Add DESTINATION' ? 'class="active"' : '' %>" href="#">ADD DESTINATION</a>
  </div>
</nav>