<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


  <div class="db-title">
    <h1><%= title %></h1>
  </div>
 
 <!--  <section class="title-heading">
    <h2>All Flights</h2>
  </section> -->
  <%- include("./partials/footer") %>
