<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <div class="db-title">
    <h1><%= title %></h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/flights">All Flights</a>
      </li>
      <li>
        <a href="/flights/new">Add Flight</a>
      </li>
    </ul>
  </nav>
  <section class="title-heading">
    <h2>All Flights</h2>
  </section>
  <footer>
    <p class="airports-animation">AUS.DFW.DEN.LAX.SAN</p>
  </footer>
</body>
</html>
