@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #5290f9 0%,
    #eafbff 50%,
    #eafbff 50%,
    #5290f9 100%
  );
  font-family: "Muli", sans-serif;
  justify-content: center;
  width: 100vw;
  margin: 0;
}

/* keep this! */
nav {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 150px;
  padding: 14px;
}


/* keep this! */
nav ul {
  display: flex;
  margin-top: 15px;
  margin-left: 40px;
  list-style-type: none;
  width: 100%;
}

.nav-link {
  font-size: 24px;
  padding: 20px;
  color:#000;
  text-decoration: none;
  margin: 0 15px;
}

nav ul a:hover {
  background-color: #5290f9;
  border-radius: 5px;
}

nav ul a:visited {
  background-color: #eafbff;
}


.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-top: 20px;
  margin-left: 150px;
  padding: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.form-group{
  padding: 5px;
  font-size: 24px;
}

.form-group label{
  padding: 5px;
  width: 100%
}
.form-group input{
  padding: 5px;
  width: 100%
}

.btn{
  padding: 15px;
  font-size: 24px;
  margin-left: 15px;
  background-color: #5290f9;
}