@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #5290f9 0%,
    #eafbff 50%,
    #eafbff 50%,
    #5290f9 100%
  );
  font-family: "Muli", sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* keep this! */
nav {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 150px;
  padding: 14px;
}


/* keep this! */
nav ul {
  display: flex;
  margin-top: 15px;
  margin-left: 40px;
  list-style-type: none;
  width: 100%;
}

.nav-link {
  font-size: 24px;
  padding: 20px;
  color:#000;
  text-decoration: none;
  margin: 0 15px;
}

nav ul a:hover {
  background-color: #5290f9;
  border-radius: 5px;
}

nav ul a:visited {
  background-color: #eafbff;
}
/* to center block element margin auto width 50% */
table {
  font-size: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 50%;
  padding: 5px;
}

table thead th {
  padding: 10px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
  background-color: #5290f9;
  border-bottom: solid 3px lightblue;
}

table td {
  padding: 5px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px lightblue;
  text-align: center;
  border-right: solid 3px lightblue;
}

.details a{
  text-decoration: none;
  opacity: 1;
  color: black;
 background-color: aliceblue;
 padding: 5px;
}

a:hover{
  color: #5290f9;
  padding: 10px;
}

.details a:visited{
  text-decoration: none;
  opacity: 0.2;
}


.btn{
  padding: 10px;
  border:none;
}

.btn:hover{
  background-color: #5290f9;
  padding: 15px;
}