@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #5290f9  0%,
    #eafbff 50%,
    #eafbff  50%,
    #5290f9 100%
  );
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
}

