<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Mongoose Flights</title>
  </head>
<body>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((f) => { %>
        <tr>
          <td><%= f.airline%></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td>
          <button type="submit" class="btn">X</button>
          </td>
        </tr>
      <% })// Close the forEach using EJS here %>
    </tbody>
  </table>
</body>
</html>
</body>
</html>