<%- include('../partials/html-head') %>

<div class="db-title">
  <h1>Title</h1>
</div>
<%- include('../partials/nav') %>
<main>
  <h1>Enter a New Flight</h1>
  <form action="/flights" method="POST">
    <label
      >Airline:
      <select name="airline">
        <option value="AMERICAN">AMERICAN</option>
        <option value="SOUTHWEST">SOUTHWEST</option>
        <option value="UNITED">UNITED</option>
      </select> </label
    ><br />
    <label
      >Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DEN" selected>DEN</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select> </label
    ><br />
    <label
      >FlightNo:
      <input type="number" name="flightNo" required /> </label
    ><br />
    <label
      >Departs:
      <input
        type="datetime-local"
        name="departs"
        value="default"
        min="2021-07-14T19:30"
      /> </label
    ><br />
    <button type="submit" class="btn">Add Flight</button>
  </form>
</main>
<%- include('../partials/footer') %>
